{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Bitter|Fjalla+One|Modak|Saira+Stencil+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'plumber/home.css' %}">
    <script src="https://kit.fontawesome.com/784b66feb8.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
    <!-- font-family: c
font-family: 'Fjalla One', sans-serif;
font-family: 'Bitter', serif;
font-family: 'Saira Stencil One', cursive; -->
</head>

<body>
    <header>
    <div class="container" id="head">
        <nav>
            <div class="brand" >
            <a href="#" style="color: white;font-size:3rem;text-decoration: none;">
                Ayan
            </a>
        </div>
        <div class="menu">
            <!-- <i class="fas fa-bars" onclick="myfunction()"></i> -->
            <ul class="nav-list" id="navs" style="display: flex;
            flex-direction: column ;
            align-items: center;
            justify-content: center;">
            
            
            <li class="nav-items">
                <a href="{% url 'plum-home' %}" class="nav-link" style="color: #fafafa;">Home</a> 
        </li>
            <li class="nav-items">
                <a href="{% url 'login' %}" class="nav-link" style="color: #fafafa;">Login</a>
        
            </li>
            </ul>
    </div>
        </nav>
    </div>

    </header>
  <br><div style="background-color: lightgreen;color:black;font-weight:1.5rem;width: 100%;height: 2rem;">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
        {{ message }}
        </div>
        {% endfor %}

    {% endif %}
</div>
  <main>
    <section class="hero">





<div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <!-- <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
          </ol> -->
          <div class="carousel-inner">
            <div class="carousel-item active">
                    <div class="container" id="con">
                            <div class="main-message">
                             
                                <img src="{% static 'plumber/ma2.png' %}">
                              
                            </div>
                            <div class = "hire ">
                                <h1>Hire Plumbers</h1>
                                <p>
                                  Hire plumber for houehold Works.
                                  Our Workers aRE very highly skillfull and have lots of Experience.
                                </p>
                              <button type="button" class="btn btn-success" id="plums">HIRE PLUMERBS </button>
                            </div>
                        </div>
            </div>
            
            <div class="carousel-item">
                    <div class="container" id="con">
                            <div class="main-message">
                             
                                <img src="{% static 'plumber/ma3.png' %}">
                              
                            </div>
                            <div class = "hire">
                                <h1>Hire Electricians</h1>
                                <p>
                                 Hire Electricians for Your HOUsehold Works.
                                Electricians Who have lots of Experience and a great skills.
                                </p>
                                <button type="button" class="btn btn-success" id="elects">HIRE Electricians </button>
                            </div>
                        </div>
            </div>
            <div class="carousel-item">
                    <div class="container" id="con">
                            <div class="main-message">
                             
                                <img src="{% static 'plumber/ma4.png' %}">
                              
                            </div>
                            <div class = "hire">
                                <h1>Hire Repairer</h1>
                                <p>
                                 Hire Repairers  for Your HOUsehold Works.
                                Repairers Who have lots of Experience in their niches
                                </p>
                                <button type="button" class="btn btn-success" id="reps">HIRE Repairers</button>
                            </div>
                        </div>
            </div>
            <div class="carousel-item">
                    <div class="container" id="con">
                            <div class="main-message">
                             
                                <img src="{% static 'plumber/ma5.png' %}">
                              
                            </div>
                            <div class = "hire">
                                <h1>Earn</h1>
                                <p>
                                 Show Your Skills and Earn.
                                  Showcase Your Work And get  an oppourtunity for Earning Money.
                                </p>
                               <button type="button" class="btn btn-success " id="earns">Earn </button>
                            </div>
                        </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>


    </section >


    <section class="many-forms" id="many-form" style="padding: 1rem;">
            <div class="otp" id="otp" style="font-family: sans-serif;text-align:center;">
            {% block content %}{% endblock%}
        </div>
                
        </section>
    <section>
        <div class="containers" id="con1">
          <div class="title">
              <h3>Why you should hire Us?</h3>
          
              <p>
                  By Hiring us you will get an great experience by the brilliant and skillfull Workers.
                  Our Workers Who have lots of Experience in their niches and you can be totally relaible them.
              </p>
              
          </div>
    
          <div class="activity">
           
                        <div class="activity1" style="text-align: center;">
                        <i class="fas fa-rupee-sign"></i>
                      <h3>Earn</h3>
                      <h2>Show Your Skills and Earn</h2>
                      <p>
                            Showcase Your Work And get  an oppourtunity for Earning Money.
                                             
                          </p>
                          <button type="button" class="btn btn-success" id="earns1">Apply Now</button>
                  </div>
               


              <div class="activity1" style="text-align: center;">
            <i class="fas fa-pencil-ruler"></i>
            <h3>Plumbers</h3>
            <h2>Hire Now</h2>
            <p>
                    Hire Plumbers for Your HOUsehold Works.
                    Plumbers Who have lots of Experience in their niches
                </p>
                <button type="button" class="btn btn-success" id="plums1">HIRE PLUMERBS </button>
        </div>
        <div class="activity1" style="text-align: center;">
                <i class="far fa-lightbulb"></i>
                <h3>Electricians</h3>
                <h2>Hire Now</h2>
                <p>
                        Hire Electricians for Your HOUsehold Works.
                        Electricians Who have lots of Experience and a great skills.
                    </p>

                  <button type="button" class="btn btn-success" id="elects1">HIRE ELECTRICIANS</button>
            </div>
            <div class="activity1" style="text-align: center;">
                    <i class="fas fa-tools"></i>
                    <h3>Repairer</h3>
                    <h2>Hire Now</h2>
                    <p>
                            Hire Repairers  for Your HOUsehold Works.
                            Repairers Who have lots of Experience in their niches
                        </p>
                        <button type="button" class="btn btn-success" id="reps1">HIRE REPAIRER</button>
                </div>
                
          </div>
        </div>
    
    
        </section>
    
    
        <section>
    <div class="contanierd">
    
        <div class="titles" style="padding: 2rem;">
            <h3>Our Clients</h3>
            <h1>What Our Customers Say</h1>
            <p>great facilites, provided by ayan and company. Workers are very skillful and shows their politeness</p>
        </div>
        <div class="quote" >
                <i class="fas fa-quote-left"></i>
              
        </div>
        <div class="exps" style="text-align: center;">
        <div class="exper">
                <h3>Arshin Shaikh</h3>
                <img src="{% static 'plumber/arshin.jpg' %}">
                <p>Great Facilites, Provided by Ayan and company. Workers were very skillful and showed their great nature</p>
          
    
        </div>
        <div class="exper">
                <h3>Shahvaz Alam</h3>
                <img src="{% static 'plumber/alam.jpg' %}">
                <p>Great Facilites, Provided by Ayan and company. Workers were very skillful and showed their great nature</p>
                
          
              </div>
              <div class="exper">
                    <h3>Nayab Shaikh</h3>
                    <img src="{% static 'plumber/nayab.jpg' %}">
                    <p>Great Facilites, Provided by Ayan and company. Workers were very skillful and showed their great nature</p>
                    
              
                  </div>
                  </div>
                  <div class="quote" >
                       
                        <i class="fas fa-quote-right"></i>
                </div>
                 
    </div>
    
        </section>
</main>
    <footer>
        &copy;2019 All Rights Reserved By Ayan Shaikh 
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 

</body>

<script>
function myfunction()
{
    document.getElementById('navs').style.right=0;
  
    document.getElementById('con1').style.opacity=0.3;
    document.getElementById('con').style.opacity=0.3;

}

function myfunction1()
{
    document.getElementById('navs').style.right="-26rem";
  
    document.getElementById('con1').style.opacity=1;
    document.getElementById('con').style.opacity=1;

}

// function active_plumber(){
// //    document.getElementById('Plum').style.display="block";
// //    document.getElementById('many-form').style.background="url('./photos/plumer.jpg')";
//    document.getElementById('otp').style.display="none";
//    document.getElementById('Plum').style.display="block";
//    document.getElementById('actives').style.border="none";
//    document.getElementById('actives').style.color="black";
//    document.getElementById('plum').style.borderBottom="3px solid #eb648c";
//    document.getElementById('plum').style.color="#eb648c";
//    $('#actives').hover(function(){
//        $('#actives').css("border-bottom","3px solid #eb648c");
      
//    },function(){
//     $('#actives').css("border-bottom","none");
//    });
// }





function active_elect(){
//    document.getElementById('Plum').style.display="block";
   document.getElementById('many-form').style.background="url('{% static 'plumber/builder.jpg' %}')";
   document.getElementById('many-form').style.backgroundSize="cover";
   document.getElementById('many-form').style.transition="all 650ms ease-in-out";
   document.getElementById('otp').style.display="none";
   document.getElementById('Plum').style.display="none";
   document.getElementById('rep').style.display="none";
   document.getElementById('Elec').style.display="block";
   document.getElementById('Elec').style.transition="all 650ms ease-in-out";
   document.getElementById('actives').style.color="black";
   document.getElementById('actives').style.borderBottom="none";
   document.getElementById('repair').style.borderBottom="none";
   document.getElementById('plum').style.borderBottom="none";
   document.getElementById('plum').style.color="black";
   document.getElementById('repair').style.color="black";
   document.getElementById('elect').style.borderBottom="3px solid #eb648c";
   document.getElementById('elect').style.color="#eb648c";
   $('#actives').hover(function(){
       $('#actives').css("border-bottom","3px solid #eb648c");
      
   },function(){
    $('#actives').css("border-bottom","none");
   });
   $('#plum').hover(function(){
       $('#plum').css("border-bottom","3px solid #eb648c");
      
   },function(){
    $('#plum').css("border-bottom","none");
   });
   $('#repair').hover(function(){
       $('#repair').css("border-bottom","3px solid #eb648c");
      
   },function(){
    $('#repair').css("border-bottom","none");
   });
   
   $('#elect').hover(function(){
       $('#elect').css("border-bottom","3px solid #eb648c");
      
   },function(){
    $('#elect').css("border-bottom","3px solid #eb648c");
   });
   
   document.getElementById('elect').style.borderBottom="3px solid #eb648c";
   document.getElementById('elect').style.color="#eb648c";
}

// function active_repair(){
//    document.getElementById('Plum').style.display="block";
//    document.getElementById('many-form').style.background="url('./photos/plumer.jpg')";
//    document.getElementById('otp').style.display="none";
//    document.getElementById('Plum').style.display="none";
//    document.getElementById('Elect').style.display="none";
//    document.getElementById('Elect').style.display="block";
//    document.getElementById('actives').style.color="black";
//    document.getElementById('actives').style.borderBottom="none";
//    document.getElementById('plum').style.color="black";
//    document.getElementById('elect').style.color="black";
//    document.getElementById('repair').style.borderBottom="3px solid #eb648c";
//    document.getElementById('repair').style.color="#eb648c";
//    $('#actives').hover(function(){
//        $('#actives').css("border-bottom","3px solid #eb648c");
      
//    },function(){
//     $('#actives').css("border-bottom","none");
//    });
//    $('#plum').hover(function(){
//        $('#plum').css("border-bottom","3px solid #eb648c");
      
//    },function(){
//     $('#plum').css("border-bottom","none");
//    });
//    $('#elect').hover(function(){
//        $('#elect').css("border-bottom","3px solid #eb648c");
      
//    },function(){
//     $('#elect').css("border-bottom","none");
//    });
// }


function active_plumber(){
//    document.getElementById('Plum').style.display="block";
   document.getElementById('many-form').style.background="url('{% static 'plumber/plumer.jpg' %}')";
   document.getElementById('many-form').style.backgroundSize="cover";
   document.getElementById('many-form').style.transition="all 650ms ease-in-out";
   document.getElementById('otp').style.display="none";
   document.getElementById('Plum').style.display="block";
   document.getElementById('Plum').style.transition="all 650ms ease-in-out";
   document.getElementById('rep').style.display="none";
   document.getElementById('Elec').style.display="none";
   document.getElementById('actives').style.borderBottom="none";
   document.getElementById('actives').style.color="black";
   document.getElementById('repair').style.color="black";
   document.getElementById('elect').style.color="black";
   document.getElementById('plum').style.borderBottom="3px solid #eb648c";
   document.getElementById('plum').style.color="#eb648c";
   document.getElementById('elect').style.borderBottom="none";
   document.getElementById('elect').color="black";
   $('#actives').hover(function(){
       $('#actives').css("border-bottom","3px solid #eb648c");
      
   },function(){
    $('#actives').css("border-bottom","none");
   });

   $('#elect').hover(function(){
       $('#elect').css("border-bottom","3px solid #eb648c");
      
   },function(){
    $('#elect').css("border-bottom","none");
   });
   $('#repair').hover(function(){
       $('#repair').css("border-bottom","3px solid #eb648c");
      
   },function(){
    $('#repair').css("border-bottom","none");
   });
   $('#plum').hover(function(){
       $('#plum').css("border-bottom","3px solid #eb648c");
      
   },function(){
    $('#plum').css("border-bottom","3px solid #eb648c");
   });
   
   $('#plum').css("border-bottom","3px solid #eb648c");
//    $('#plum').css("color","#eb648c");
}


function active_repair(){
//    document.getElementById('Plum').style.display="block";
   document.getElementById('many-form').style.background="url('{% static 'plumber/mobiles.jpg' %}')";
   document.getElementById('many-form').style.backgroundSize="cover";
   document.getElementById('many-form').style.transition="all 650ms ease-in-out";
   
   document.getElementById('otp').style.display="none";
   document.getElementById('rep').style.display="block";
   document.getElementById('rep').style.transition="all 650ms ease-in-out";
   document.getElementById('Plum').style.display="none";
   document.getElementById('Elec').style.display="none";
   document.getElementById('actives').style.border="none";
   document.getElementById('elect').style.borderBottom="none";
   document.getElementById('repair').style.borderBottom="none";
   document.getElementById('plum').style.borderBottom="none";
   document.getElementById('actives').style.color="black";
   document.getElementById('elect').style.color="black";
   document.getElementById('plum').style.color="black";
   document.getElementById('repair').style.borderBottom="3px solid #eb648c";
   document.getElementById('repair').style.color="#eb648c";
   $('#actives').hover(function(){
       $('#actives').css("border-bottom","3px solid #eb648c");
      
   },function(){
    $('#actives').css("border-bottom","none");
   });

   
   $('#elect').hover(function(){
       $('#elect').css("border-bottom","3px solid #eb648c");
      
   },function(){
    $('#elect').css("border-bottom","none");
   });
   $('#plum').hover(function(){
       $('#plum').css("border-bottom","3px solid #eb648c");
      
   },function(){
    $('#plum').css("border-bottom","none");
   });
  
   $('#repair').hover(function(){
       $('#repair').css("border-bottom","3px solid #eb648c");
      
   },function(){
    $('#repair').css("border-bottom","3px solid #eb648c");
   });
   document.getElementById('repair').style.borderBottom="3px solid #eb648c";
   document.getElementById('repair').style.color="#eb648c";
}


function active_earn(){
//    document.getElementById('Plum').style.display="block";
   document.getElementById('elect').style.borderBottom="initial";
   document.getElementById('actives').style.borderBottom="initial";
   document.getElementById('plum').style.borderBottom="initial";
   document.getElementById('repair').style.borderBottom="initial";
   document.getElementById('many-form').style.background="url('{% static 'plumber/home_plumber.jpg' %}')";
   document.getElementById('many-form').style.backgroundSize="cover";
   document.getElementById('many-form').style.transition="all 650ms ease-in-out";
   document.getElementById('otp').style.display="block";
   document.getElementById('otp').style.transition="all 650ms ease-in-out";
   document.getElementById('rep').style.display="none";
   document.getElementById('Plum').style.display="none";
   document.getElementById('Elec').style.display="none";

   document.getElementById('elect').style.borderBottom="none";
   document.getElementById('plum').style.borderBottom="none";
   document.getElementById('repair').style.borderBottom="none";
   document.getElementById('elect').style.color="black";
   document.getElementById('plum').style.color="black";
   document.getElementById('repair').style.color="black";
   document.getElementById('actives').style.borderBottom="3px solid #eb648c";
   document.getElementById('actives').style.color="#eb648c";
   $('#elect').hover(function(){
       $('#elect').css("border-bottom","3px solid #eb648c");
      
   },function(){
    $('#elect').css("border-bottom","none");
   });
   $('#plum').hover(function(){
       $('#plum').css("border-bottom","3px solid #eb648c");
      
   },function(){
    $('#plum').css("border-bottom","none");
   });
   $('#repair').hover(function(){
       $('#repair').css("border-bottom","3px solid #eb648c");
      
   },function(){
    $('#repair').css("border-bottom","none");
   });
   $('#actives').hover(function(){
       $('#actives').css("border-bottom","3px solid #eb648c");
      
   },function(){
    $('#actives').css("border-bottom","3px solid #eb648c");
   });

$('#actives').css(borderBottom="3px solid #eb648c");
   $('#actives').css(color="#eb648c");





//    $('#actives').hover(function(){
//        $('#actives').css("border-bottom","3px solid #eb648c");
      
//    },function(){
//     $('#actives').css("border-bottom","none");
//    });
}




    
    </script>

    <script>
 
 $("#plums").click(function() {
    $('html,body').animate({
   scrollTop: $("#many-form").offset().top
 
});   
$('#plum').css("borderBottom","3px solid #eb648c");
$('#plum').css("color"," #eb648c");
$('#many-form').css("background","url({% static 'plumber/plumer.jpg' %})");
$('#many-form').css("background-size","cover");
$('#elect').css("borderBottom","none");
$('#elect').css("color","black");
$('#actives').css("borderBottom","none");
$('#actives').css("color","black");
$('#repair').css("borderBottom","none");
$('#repair').css("color","black");
$('#otp').css("display","none");
$('#Elect').css("display","none");
$('#rep').css("display","none");
$('#Plum').css("display","block");
$('#actives').hover(function(){
       $('#actives').css("border-bottom","3px solid #eb648c");
      
   },function(){
    $('#actives').css("border-bottom","none");
   });

   $('#elect').hover(function(){
       $('#elect').css("border-bottom","3px solid #eb648c");
      
   },function(){
    $('#elect').css("border-bottom","none");
   });
   $('#repair').hover(function(){
       $('#repair').css("border-bottom","3px solid #eb648c");
      
   },function(){
    $('#repair').css("border-bottom","none");
   });
   $('#plum').hover(function(){
       $('#plum').css("border-bottom","3px solid #eb648c");
      
   },function(){
    $('#plum').css("border-bottom","3px solid #eb648c");
   });
});



$("#reps").click(function() {
    $('html,body').animate({
   scrollTop: $("#many-form").offset().top
});   

$('#repair').css("borderBottom","3px solid #eb648c");
$('#repair').css("color"," #eb648c");
$('#many-form').css("background","url({% static 'plumber/mobiles.jpg' %})");
$('#many-form').css("background-size","cover");
$('#Elec').css("borderBottom","none");
$('#elect').css("color","black");
$('#actives').css("borderBottom","none");
$('#actives').css("color","black");
$('#plum').css("borderBottom","none");
$('#plum').css("color","black");
$('#otp').css("display","none");
$('#Elec').css("display","none");
$('#rep').css("display","none");
$('#rep').css("display","block");
$('#actives').hover(function(){
       $('#actives').css("border-bottom","3px solid #eb648c");
      
   },function(){
    $('#actives').css("border-bottom","none");
   });

   
   $('#elect').hover(function(){
       $('#elect').css("border-bottom","3px solid #eb648c");
      
   },function(){
    $('#elect').css("border-bottom","none");
   });
   $('#plum').hover(function(){
       $('#plum').css("border-bottom","3px solid #eb648c");
      
   },function(){
    $('#plum').css("border-bottom","none");
   });
  
   $('#repair').hover(function(){
       $('#repair').css("border-bottom","3px solid #eb648c");
      
   },function(){
    $('#repair').css("border-bottom","3px solid #eb648c");
   });
});


$("#elects").click(function() {
    $('html,body').animate({
   scrollTop: $("#many-form").offset().top
});   
$('#elect').css("borderBottom","3px solid #eb648c");
$('#elect').css("color"," #eb648c");
$('#many-form').css("background","url({% static 'plumber/builder.jpg' %})");
$('#many-form').css("background-size","cover");
$('#repair').css("borderBottom","none");
$('#repair').css("color","black");
$('#actives').css("borderBottom","none");
$('#actives').css("color","black");
$('#plum').css("borderBottom","none");
$('#plum').css("color","black");
$('#otp').css("display","none");
$('#rep').css("display","none");
$('#Plum').css("display","none");
$('#Elec').css("display","block");
$('#actives').hover(function(){
       $('#actives').css("border-bottom","3px solid #eb648c");
      
   },function(){
    $('#actives').css("border-bottom","none");
   });
   $('#plum').hover(function(){
       $('#plum').css("border-bottom","3px solid #eb648c");
      
   },function(){
    $('#plum').css("border-bottom","none");
   });
   $('#repair').hover(function(){
       $('#repair').css("border-bottom","3px solid #eb648c");
      
   },function(){
    $('#repair').css("border-bottom","none");
   });
   
   $('#elect').hover(function(){
       $('#elect').css("border-bottom","3px solid #eb648c");
      
   },function(){
    $('#elect').css("border-bottom","3px solid #eb648c");
   });
   
});


$("#earns").click(function() {
    $('html,body').animate({
   scrollTop: $("#many-form").offset().top
});   
$('#actives').css("borderBottom","3px solid #eb648c");
$('#actives').css("color"," #eb648c");
$('#many-form').css("background","url({% static 'plumber/home_plumber.jpg' %})");
$('#many-form').css("background-size","cover");
$('#repair').css("borderBottom","none");
$('#repair').css("color","black");
$('#elect').css("borderBottom","none");
$('#elect').css("color","black");
$('#plum').css("borderBottom","none");
$('#plum').css("color","black");
$('#Elec').css("display","none");
$('#rep').css("display","none");
$('#Plum').css("display","none");
$('#otp').css("display","block");

$('#elect').hover(function(){
       $('#elect').css("border-bottom","3px solid #eb648c");
      
   },function(){
    $('#elect').css("border-bottom","none");
   });
   $('#plum').hover(function(){
       $('#plum').css("border-bottom","3px solid #eb648c");
      
   },function(){
    $('#plum').css("border-bottom","none");
   });
   $('#repair').hover(function(){
       $('#repair').css("border-bottom","3px solid #eb648c");
      
   },function(){
    $('#repair').css("border-bottom","none");
   });
   $('#actives').hover(function(){
       $('#actives').css("border-bottom","3px solid #eb648c");
      
   },function(){
    $('#actives').css("border-bottom","3px solid #eb648c");
   });
});
    </script>




<script>
 
        $("#plums1").click(function() {
           $('html,body').animate({
          scrollTop: $("#many-form").offset().top
        
       });   
       $('#plum').css("borderBottom","3px solid #eb648c");
       $('#plum').css("color"," #eb648c");
       $('#many-form').css("background","url({% static 'plumber/plumer.jpg' %})");
       $('#many-form').css("background-size","cover");
       $('#elect').css("borderBottom","none");
       $('#elect').css("color","black");
       $('#actives').css("borderBottom","none");
       $('#actives').css("color","black");
       $('#repair').css("borderBottom","none");
       $('#repair').css("color","black");
       $('#otp').css("display","none");
       $('#Elect').css("display","none");
       $('#rep').css("display","none");
       $('#Plum').css("display","block");
       $('#actives').hover(function(){
              $('#actives').css("border-bottom","3px solid #eb648c");
             
          },function(){
           $('#actives').css("border-bottom","none");
          });
       
          $('#elect').hover(function(){
              $('#elect').css("border-bottom","3px solid #eb648c");
             
          },function(){
           $('#elect').css("border-bottom","none");
          });
          $('#repair').hover(function(){
              $('#repair').css("border-bottom","3px solid #eb648c");
             
          },function(){
           $('#repair').css("border-bottom","none");
          });
          $('#plum').hover(function(){
              $('#plum').css("border-bottom","3px solid #eb648c");
             
          },function(){
           $('#plum').css("border-bottom","3px solid #eb648c");
          });
       });
       
       
       
       $("#reps1").click(function() {
           $('html,body').animate({
          scrollTop: $("#many-form").offset().top
       });   
       
       $('#repair').css("borderBottom","3px solid #eb648c");
       $('#repair').css("color"," #eb648c");
       $('#many-form').css("background","url({% static 'plumber/mobiles.jpg' %})");
       $('#many-form').css("background-size","cover");
       $('#Elec').css("borderBottom","none");
       $('#elect').css("color","black");
       $('#actives').css("borderBottom","none");
       $('#actives').css("color","black");
       $('#plum').css("borderBottom","none");
       $('#plum').css("color","black");
       $('#otp').css("display","none");
       $('#Elec').css("display","none");
       $('#rep').css("display","none");
       $('#rep').css("display","block");
       $('#actives').hover(function(){
              $('#actives').css("border-bottom","3px solid #eb648c");
             
          },function(){
           $('#actives').css("border-bottom","none");
          });
       
          
          $('#elect').hover(function(){
              $('#elect').css("border-bottom","3px solid #eb648c");
             
          },function(){
           $('#elect').css("border-bottom","none");
          });
          $('#plum').hover(function(){
              $('#plum').css("border-bottom","3px solid #eb648c");
             
          },function(){
           $('#plum').css("border-bottom","none");
          });
         
          $('#repair').hover(function(){
              $('#repair').css("border-bottom","3px solid #eb648c");
             
          },function(){
           $('#repair').css("border-bottom","3px solid #eb648c");
          });
       });
       
       
       $("#elects1").click(function() {
           $('html,body').animate({
          scrollTop: $("#many-form").offset().top
       });   
       $('#elect').css("borderBottom","3px solid #eb648c");
       $('#elect').css("color"," #eb648c");
       $('#many-form').css("background","url({% static 'plumber/builder.jpg' %})");
       $('#many-form').css("background-size","cover");
       $('#repair').css("borderBottom","none");
       $('#repair').css("color","black");
       $('#actives').css("borderBottom","none");
       $('#actives').css("color","black");
       $('#plum').css("borderBottom","none");
       $('#plum').css("color","black");
       $('#otp').css("display","none");
       $('#rep').css("display","none");
       $('#Plum').css("display","none");
       $('#Elec').css("display","block");
       $('#actives').hover(function(){
              $('#actives').css("border-bottom","3px solid #eb648c");
             
          },function(){
           $('#actives').css("border-bottom","none");
          });
          $('#plum').hover(function(){
              $('#plum').css("border-bottom","3px solid #eb648c");
             
          },function(){
           $('#plum').css("border-bottom","none");
          });
          $('#repair').hover(function(){
              $('#repair').css("border-bottom","3px solid #eb648c");
             
          },function(){
           $('#repair').css("border-bottom","none");
          });
          
          $('#elect').hover(function(){
              $('#elect').css("border-bottom","3px solid #eb648c");
             
          },function(){
           $('#elect').css("border-bottom","3px solid #eb648c");
          });
          
       });
       
       
       $("#earns1").click(function() {
           $('html,body').animate({
          scrollTop: $("#many-form").offset().top
       });   
       $('#actives').css("borderBottom","3px solid #eb648c");
       $('#actives').css("color"," #eb648c");
       $('#many-form').css("background","url({% static 'plumber/home_plumber.jpg' %})");
       $('#many-form').css("background-size","cover");
       $('#repair').css("borderBottom","none");
       $('#repair').css("color","black");
       $('#elect').css("borderBottom","none");
       $('#elect').css("color","black");
       $('#plum').css("borderBottom","none");
       $('#plum').css("color","black");
       $('#Elec').css("display","none");
       $('#rep').css("display","none");
       $('#Plum').css("display","none");
       $('#otp').css("display","block");
       
       $('#elect').hover(function(){
              $('#elect').css("border-bottom","3px solid #eb648c");
             
          },function(){
           $('#elect').css("border-bottom","none");
          });
          $('#plum').hover(function(){
              $('#plum').css("border-bottom","3px solid #eb648c");
             
          },function(){
           $('#plum').css("border-bottom","none");
          });
          $('#repair').hover(function(){
              $('#repair').css("border-bottom","3px solid #eb648c");
             
          },function(){
           $('#repair').css("border-bottom","none");
          });
          $('#actives').hover(function(){
              $('#actives').css("border-bottom","3px solid #eb648c");
             
          },function(){
           $('#actives').css("border-bottom","3px solid #eb648c");
          });
       });
           </script>
    <!-- <script>
        function pop_after(){
      setTimeout(function(){
        document.getElementById("container").style.opacity=0.3;
        //document.getElementById("container1").style.display="block";
          $('#container1').show();
      },5000);
    }
      function pop()
      {
        $('#container1').show();
        document.getElementById("container").style.opacity=0.3;
  
      }
      
      </script> -->
</html>